@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-darcGray text-darcText font-poppins;
  }

  h1, h2, h3 {
    @apply font-bold text-darcBlue;
  }

  button {
    @apply bg-darcGreen text-white font-semibold py-2 px-4 rounded-lg hover:bg-green-600 transition;
  }
}
@layer utilities {
  @keyframes fade-in-down {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-fade-in-down {
    animation: fade-in-down 0.3s ease-out;
  }
}